@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

:root {
  --mauchinh: rgb(238, 75, 43);
  /* --mauchinh : #fd2424 ; */
  --while-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --with-240: 240px;
}

.bgcl {
  background-color: #ccc;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.gird {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}


.gird__full-with {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fakein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth--from));
    opacity: 0;
  }

  to {
    transform: scale(var(--growth--to));
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fakein linear 0.15s;
  z-index: 3;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal__body {
  --growth--from: 0.6;
  --growth--to: 1;
  border-radius: 5px;
  width: 400px;
  /* height: 450px; */
  background-color: #fff;
  margin: auto;
  z-index: 1;
  animation: growth linear 0.15s;
  position: relative;
}

.gird-color {
  background-color: rgba(0, 0, 0, 0.4);
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.open {
  display: flex !important;
}

.with-100 {
  width: 100%;
}


.chon {
  color: #D0011B !important;
  padding: 0 !important;
}

.focus-shop-product-search {
  background-color: var(--mauchinh) !important;
  color: var(--while-color);
}

.column--3 {
  width: 24%;
  display: flex;
  align-items: center;
}


.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.ml-1 {
  margin-left: 16px;
}

.container {
  /* display: none; */
}

.product-tab__title {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 6px;
}

.product-tab {
  display: flex;
}

.product-tab__title h5 {
  font-size: 1.4rem;
  margin-left: 8px;
  color: #0000008A;
  margin-top: 3px;
}

.product-tab__product {
  display: flex;
  position: relative;
}

.product-tab__product::before {
  content: '';
  position: absolute;
  width: 100%;
  border: 1.8px solid #e4e4e4;
  top: -12px;
  border-radius: 12px;
}

.product__img-list {
  display: flex;
  flex-direction: column;
}

.product__img-main {
  height: 400px;
  width: 720px;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img-secondary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.product__img-secondary li img {
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border: 1px solid #dbd9d9;
  border-radius: 12px;
}

.product__img__info {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  width: 400px;
}

.product__img__info h2 {
  color: #444444;
}

.product__img__info li {
  margin-top: 12px;
  font-size: 1.2rem;
  list-style: none;
  color: #4a4a4a;
}

.product__img__info li .fa-solid {
  font-size: 1.4rem;
  margin-right: 4px;
}

.product-tab__info {
  flex: 1;
  margin-left: 16px;
}

.shop-have-product {
  margin-left: 16px;
}

.shop__address__city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 22px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  border-radius: 8px;
}

.shop__address__district {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 22px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  border-radius: 8px;
}

.shop__address-have-product {
  font-size: 1.2rem;
  margin: 16px 0;
}

.shop__address-have-product h3 {
  margin: 0 4px;
}

.shop__address__list {
  border: 1px solid #ccc;
  border-radius: 12px;
}

.shop__address__item-address a {
  height: 20px;
  text-decoration: none;
  margin-left: 4px;
  color: black;
  font-size: 1.1rem;
  color: #3a78d0;
}

.shop__address__item {
  margin-bottom: 4px;
}

.shop__address__item-phone-number {
  margin-left: 8px;
  color: crimson;
}




.product-tab__info__capacity-options {
  flex-wrap: wrap;
}

.product-tab__info__capacity-item {
  width: 140px;
  height: 54px;
  text-decoration: none;
  color: #444444;
  border: 1px solid #ccc;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 12px;
  margin-bottom: 12px;
}

.product-tab__info__capacity-item:hover {
  background-color: #f7f4f48a;
}

#tab-price {
  margin-top: 6px;
  font-size: 1.3rem;
  font-weight: 400;
}

#titleh2 {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #444444;
  font-size: 1.4rem;
}

.product-tab__info__color-options {
  flex-wrap: wrap;
}

.product-tab__info__color-options-item {
  width: 140px;
  height: 44px;
  text-decoration: none;
  color: #444444;
  border: 1px solid #ccc;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.product-tab__info__color-options__img {
  height: 25px;
}

#color-product-tab {
  font-weight: 600;
}

.product-tab__info__color-options__color {
  justify-content: center;
  margin-left: 16px;
}

.product-tab__info__price {
  height: 80px;
  width: 100%;
  background-color: #eae8e8;
  border-radius: 12px;
  margin-bottom: 12px;
}

.product-tab__info__price {
  align-items: center;
  justify-content: space-around;
}

.product-tab__info__price__trade-option {
  margin-left: 4px;
}

#price-trade {
  font-weight: bolder;
  font-size: 1.7rem;
  color: #444444;
  margin-bottom: 4px;
}

.product-tab__info__price__buy {
  position: relative;
  background-color: #fff;
  width: 230px;
  height: 64px;
  border: 1px solid var(--mauchinh);
  border-radius: 12px;
  box-shadow: 0 0 3px var(--mauchinh);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.product-tab__info__price__buy::after {
  content: '';
  position: absolute;
  border-width: 15px 10px;
  border-style: solid;
  border-color: var(--mauchinh) transparent transparent transparent;
  bottom: -48%;
}

#price-sale-tab {
  font-size: 1.7rem;
  font-weight: bolder;
  color: var(--mauchinh);
}

#price-new-tab {
  margin-top: 4px;
  text-decoration: line-through;
}

.product-tab__info__buy {
  height: 80px;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.product-tab__info__buy-now {
  height: 64px;
  width: 80%;
  background-color: var(--mauchinh);
  border-radius: 12px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bolder;
}

.product-tab__info__buy-now h5 {
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: 300;
}

.product-tab__info__add-cart {
  flex: 1;
  margin-left: 12px;
  height: 64px;
  color: var(--mauchinh);
  border: 2px solid var(--mauchinh);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.product-tab__info__add-cart .fa-cart-plus {
  font-size: 2.2rem;
  margin-bottom: 4px;
}

.product-tab__info__pay-options {
  justify-content: space-between;
}

.product-tab__info__pay {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 48%;
  background: linear-gradient(180deg, #3a78d0, #277cea);
  border-radius: 12px;
  color: var(--while-color);
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.product-tab__info__pay h4 {
  margin-top: 4px;
}

.timhieuthem {
  height: 34px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #EC8104;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 800;
}

.product-tab__info__extra-sale {
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.product-tab__info__extra-sale h2 {
  background-color: #D1d5db;
  height: 40px;
  padding-left: 20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  align-items: center;
}

.sale-extra__program-details .fa-circle-check {
  margin: 0 4px;
}

.sale-extra__program-details li {
  margin: 12px 0;
  font-size: 12px;
}

.sale-extra__program-details img {
  margin-right: 4px;
}

.header {
  height: 145px;
  display: flex;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.shop__pega__suggest-content a {
  text-decoration: none;
  color: #000;
}


.header__navbar {
  height: 34px;
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 12px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  color: var(--while-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 100;
}


.header__navbar-item--qr:hover .header__qr {
  display: block;

}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--bold {
  font-weight: 700;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #FB9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);

}

.header__navbar-icon-link {
  color: var(--while-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.fa-instagram {
  padding: 0 !important;
}

.fa-facebook {
  padding-right: 0;
}

.heaer_navbar-titler-nopointer {
  cursor: text;
  color: var(--while-color);
}

/* Heaer QR code */

.header__qr {
  display: none;
  width: 186px;
  background-color: var(--while-color);
  position: absolute;
  top: 130%;
  left: 0;
  padding: 8px;
  border-radius: 2px;
  animation: fakein ease-in .3s;
  z-index: 2;
}

.header__qr::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 20px;
  top: -16px;
}


.header__qr-img {
  width: 100%;
}

.header__qr__apps {
  margin-top: 5px;
  display: flex;
  height: 18px;
  justify-content: space-between;

}

.header__img-down {}


.header__notifycation {
  z-index: 2;
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  background-color: var(--while-color);
  border: 1px solid #D3D3D3;
  opacity: 0;
  transform: 90% top;
  visibility: hidden;
  transition: opacity 0.2s ease-in;
}

.header__notifycation::before {
  content: "";
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -31px;
  right: 12px;
}

.header__notifycation::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  width: 90px;
  height: 16px;
}

.header__has-notifycation:hover .header__notifycation {
  opacity: 1;
  visibility: visible;
}

@keyframes headerNotifycation {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.header__notifycation-header {
  height: 40px;
  cursor: default;
  background-color: var(--while-color);
}

.header__notifycation-header h3 {
  color: #666;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0 0 0 12px;
  line-height: 40px;
}

.header__notifycation-list {
  padding-left: 0;
  background-color: rgba(255, 248, 228, .7);

}

.header__notifycation-item {
  padding-bottom: 16px;
}


.header__notifycation-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 8px;
}

.header__notifycation-item:hover {
  background-color: #f7f7f7;
}

.header__notifycation-link {
  display: flex;
  text-decoration: none;

}

.header__notifycation-name {
  text-decoration: none;
  color: var(--text-color);
  margin: 2px 24px 0 8px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.header__notifycation-descriotion {
  color: #666;
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: 200;
}

.header__notifycation-img {
  margin-left: 16px;
  width: auto;
  height: 50px;
  margin-top: 8px;
  object-fit: contain;
}

.all {
  height: 32 px;
  background-color: var(--while-color);
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.all a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 400;

}

.auth-form {
  margin: 8px 30px;
}

.auth-form__header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}

.auth-form__register {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 60px;
  padding-left: 8px;
  margin-top: 12px;
}

.auth-form__login-btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f53e2d;
  line-height: 60px;
  cursor: pointer;
  padding-right: 8px;
  margin-top: 12px;
}

.auth-form__form {
  /* height: 150px; */
}

.auth-from__input {
  border: .2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 6px 0;
  width: 100%;
  height: 30px;
}

.auth-form__aside {
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  /* flex-wrap: wrap; */
  font-size: 1.2rem;
  align-items: center;
  margin-bottom: 80px;
}

.auth-form__policy-text {
  margin-bottom: 0;
  font-weight: 400;
}

.auth-form__policy-link {
  font-weight: 400;
  color: var(--mauchinh);
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

}

.btn {
  width: 120px;
  height: 25px;
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-back {
  background-color: #fff;
  border: none;
  margin-right: 10px;
  font-weight: 300px;
}

.btn-back:hover {
  background-color: #ccc;
}

.btn-register {
  background-color: var(--mauchinh);
  color: #f7f7f7;
  border: none;
  border-radius: 2px;
}

.btn-register:hover {
  background-color: rgba(238, 75, 43, .8);
}

.auth-form__socials {
  height: 50px;
  background-color: #e7e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn--with-icon {
  font-size: 1.2rem;
  height: 30px;
  width: calc(42%);
  /* border: 1px solid #000; */
  text-decoration: none;
  border-radius: 4px;
  line-height: 30px;
}

.btn--with-icon:hover {
  opacity: 0.7;
}

.auth-form--facebook {
  margin-left: 30px;
  background-color: #060471;
  color: #f7f7f7;
}

.auth-form--google {
  margin-right: 30px;
  background-color: #f7f7f7;
  color: var(--text-color);
}

.fa-brands {
  padding-left: 8px;
  /* padding-right: 16px; */
  /* font-size: 20px;
  padding-top: 4px; */
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Chỉnh sửa login */



.edit-auth-form__login {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.auth-form--forgot-password::after {
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 8px;
  margin-right: 2px;
}

.auth-form--forgot-password {
  text-decoration: none;
  font-weight: 500;
}

.auth-form--help--login {
  color: var(--text-color);
  text-decoration: none;
}

.auth-form--SMS {
  background-color: #34a853;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  line-height: auto;
}

.fa-comment-dots {
  padding-right: 5px;
  font-size: 20px;
  padding-top: 4px;
}

.socials__login {
  display: flex;
  justify-content: space-around;
}

.reset-mr {
  margin: 0;
}

.reset-pd {
  padding: 0;
}

.btn--with-icon-three {
  width: 30%;
}

.header__all-search {
  height: 86px;
  display: flex;
  align-items: center;
}

.header__logo-img {
  height: 50px;
  width: auto;
  margin-left: 8px;
  padding-right: 40px;
}

.header__logo-img path {
  fill: var(--while-color);
}

.header__search {
  display: flex;
  height: 40px;
  background-color: #f7f7f7;
  flex: 1;
  border-radius: 2px;
}

.header_search-search {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 12px;
}

.header__search-input:focus~.header_search-history {
  display: block;
}

.header_search-history {
  position: absolute;
  top: 110%;
  z-index: 2;
  width: calc(100% - 10px);
  background-color: var(--while-color);
  border-radius: 4px;
  box-shadow: 0 0 3px #000;
  display: none;

}

.header_search-history__heading {
  font-size: 1.4rem;
  padding: 10px 10px 10px 12px;
  color: #CCC;
}

.header_search-history__text {
  padding-left: 0;
  list-style: none;
}

.header_search-history__text a {
  padding: 10px 10px 10px 12px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--text-color);
}

.header_search-history__text a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}


.header__search-where {
  z-index: 1;
  width: 150px;
  font-size: 1.4rem;
  height: 36px;
  line-height: 36px;
  margin: 2px 0;
  justify-content: center;
  display: flex;
  background-color: #fff;
  align-content: center;
  position: relative;
  cursor: pointer;
}

/* .header__search-where::after{
  content: "";
  position: absolute;
  border: 1px solid rgba(0, 0, 0,0.07);
  height: 26px;
  top :4px;
  left: 0;
  margin-left: 4px;
} */

.header__search-where::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 24px;
  background-image: linear-gradient(to right, #f0f0f0, #CCC);
  transform: translateY(-50%);
  margin-left: 4px;
}

.header__search-where::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 4px;
  width: 147px;
  height: 10px;
  border-radius: 4px;
  background-color: transparent;
}

.header__search-where:hover .header__search-select {
  display: block;
}

.header__search-select {
  content: "";
  position: absolute;
  bottom: -96px;
  left: 4px;
  width: 147px;
  height: 90px;
  border-radius: 4px;
  background-color: #fefafa;
  display: none;
  box-shadow: 0 0 2px #ccc;
}

.header__search-select__two {
  height: 50%;
  line-height: 45px;
  display: flex;
  /* justify-content: center; */
  font-size: 1.4rem;
}

.header__search-select__two:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.015);
  box-shadow: 0 0 3px #ccc;
}

.header_search-select--text {
  padding-left: 8px;
}

.fa-check {
  padding-left: 16px;
}

.fa-chevron-down {
  height: 14px;
  align-self: center;
  padding-left: 16px;
}

.header__search-btn {
  background-color: var(--mauchinh);
  color: #fff;
  width: 60px;
  margin: 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.header__search-btn:hover {
  opacity: .8;
}

.header__cart {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__cart--all {
  position: relative;
}

.cart__number-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--mauchinh);
  font-weight: 500;
  height: 15px;
  width: 20px;
  border-radius: 10px;
  line-height: 15px;
  top: -6px;
  right: -15px;
}



.header__cart-list__nocart::after,
.header__cart-list__has-cart::after {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -18px;
  right: 17px;
}

.header__cart-list__has-cart::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  top: -18px;
  right: 17px;
}

.header__cart-list__nocart::before {
  content: "";
  width: 80px;
  height: 20px;
  position: absolute;
  top: -18px;
  right: 17px;
  cursor: pointer;
}

.header__cart--all:hover .header__cart-list__nocart {
  visibility: inherit;
  opacity: 1;
}

.header__cart--all:hover .header__cart-list__has-cart {
  visibility: inherit;
  opacity: 1;
}

.header__cart-list__nocart {
  position: absolute;
  top: 134%;
  right: -20px;
  width: 400px;
  min-height: 200px;
  background-color: var(--while-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px #ccc;
  visibility: hidden;
  opacity: 0;
  animation: cartani ease 0.5s;
  cursor: default;
}

.header__cart-list__has-cart {
  position: absolute;
  top: 134%;
  right: -20px;
  width: 400px;
  background-color: var(--while-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  cursor: default;
  animation: cartani ease 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.header__cart-list__has-cart__heading {
  display: flex;
  height: 30px;
  font-size: 1.4rem;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 12px;
  color: #ccc;
}

.header__cart-list__has-cart__content {}

.header__cart__content-item {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: row;
}

.header__cart__content-item:hover {
  background-color: #f4f2f2;
}

.cart__item__img {
  margin-left: 12px;
  padding: 10px 0;
}

.cart__item__describe {
  margin: 10px;
  width: 220px;
  white-space: nowrap;
  /* Ngăn chữ bị ngắt dòng */
  overflow: hidden;
  /* Ẩn nội dung vượt quá kích thước thẻ */
  text-overflow: ellipsis;
  /* Hiển thị dấu ... nếu nội dung vượt quá */
  font-size: 1.3rem;
}

.cart__item__price {
  line-height: 60px;
  margin-right: 14px;
  margin-left: 16px;
  font-size: 1.3rem;
  font-weight: 550;
  color: var(--mauchinh);
  position: absolute;
  top: 0px;
  right: 10px;
}

.header__cart-list__has-cart__footer {
  height: 60px;
  line-height: 60px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
}

.header__cart-list__open-cart {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--while-color);
  background-color: var(--mauchinh);
  margin: 12px 12px 12px 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.header__cart-list__open-cart:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes cartani {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



.header__cart-text {
  margin: auto;
  font-size: 1.4rem;
  background-color: var(--while-color);
}

.header_cart__no-cart {
  margin: auto;
}

.fa-cart-shopping {
  font-size: 2.5rem;
  margin-top: 2px;
}

.container {}


.container__header {
  padding-top: 40px;
  padding-bottom: 1px;
}

.container__header__profile {
  display: flex;
  justify-content: space-between;
}

.profile__info--3 {
  width: calc(100%/3 - 20px);
  height: 135px;
}

.profile__shop {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.profile__shop__header {
  display: flex;
  flex-direction: row;
}

.header__shop__img {
  position: relative;
}

.shop__img {
  width: 72px;
  border: 5px rgba(197, 201, 199, 0.59) solid;
  height: auto;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 12px;
  cursor: pointer;
}

.shop__img--2 {
  height: 16px;
  position: absolute;
  left: 25%;
  top: 85%;
  cursor: pointer;
}

.shop__namer {
  color: var(--while-color);
  font-size: 2rem;
  margin-top: 20px;
  padding-left: 12px;
  font-weight: 400;
  position: relative;
}

.shop__namer::after {
  content: 'Online 6 phút trước';
  display: block;
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  font-weight: 200;
  color: #CCC;
  cursor: text;
}

.fa-plus {
  margin-right: 16px;
  margin-left: 120px;
}

.profile__shop__flow {
  height: 25px;
  width: 346px;
  margin: 0 auto;
  margin-top: 12px;
  line-height: 25px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__info {
  /* background-color: #34a853; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__info--3__item {
  display: flex;
  line-height: 24px;
  align-items: center;
}

.profile__info--text {
  padding-left: 12px;
  font-size: 1.4rem;
}

.profile__info--text__value {
  font-size: 1.4rem;
  padding-left: 6px;
  color: #D0011B;
}

.profile__info--text__value .fa-circle-question {
  opacity: 0.3;
  font-size: 1.2rem;
}

.fa-comment-dots {
  padding: 0;
  font-size: 1.5rem;
}

.profile__info--3__item .fa-solid {
  font-size: 1.4rem;
}

.container__header__menu {}

.container__header__menu-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.container__header__menu-list__item {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container__header__menu-list__item:hover {
  color: #D0011B;
}

.list__item--walk {
  position: relative;
  color: #D0011B;
}

.list__item--walk::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #D0011B;
  position: absolute;
  top: 100%;
}

.container__header__menu-list--extand {
  line-height: 50px;
  font-size: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}



.container__header__menu-list--extand::after {
  content: '';
  display: block;
  border: 1px solid #e7e7e7;
  position: absolute;
  height: 20px;
  top: 28%;
  left: -30%;
}

.menu-list--extand-list::before {
  content: '';
  display: block;
  position: absolute;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  height: 20px;
  top: -25%;
  right: 13px;
  z-index: 2;

}

.menu-list--extand-list::after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: #34a853;
  top: -48%;
  right: 13px;
  background-color: transparent;

}

.container__header__menu-list--extand:hover .menu-list--extand-list {
  display: flex;
}

.container__header__menu-list--extand:hover {
  color: #D0011B;
}

.menu-list--extand-list {
  height: 80px;
  width: 180px;
  position: absolute;
  top: 105%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fff;
  color: var(--text-color);
  display: none;
}

.menu-list--extand-item {
  height: calc(50%);
  line-height: 40px;
  padding-left: 36px;
}

.menu-list--extand-item:hover {
  color: #D0011B;
}

.container__header__menu-list--extand .fa-caret-down {
  padding-left: 6px;
  padding-right: 18px;
}

.shop_pega-container {
  background-color: rgba(0, 0, 0, 0.04);
}

.gird__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.shop__pega-voucher {
  height: 200px;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
}

.voucher__title {
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-color);
}

.voucher-list {
  display: flex;
}

.voucher-list--row {
  display: flex;
  color: #D0011B;
  border-radius: 2px;
  margin-left: 32px;
  width: 340px;
  background-color: #fff4f4;
  border-bottom: 1px solid #f8d0d3;
  border-top: 1px solid #f8d0d3;
  border-right: 1px solid #f8d0d3;
}

.serrated-bar {
  width: 10px;
  height: 118px;
  background: radial-gradient(circle at 0 3px, transparent 0, rgba(0, 0, 0, .03) 2px, #f8d0d3 0, #f8d0d3 3px, #fff4f4 0);
  background-size: 5rem 1rem;
  background-repeat: repeat-y;
}

.voucher-info__down {
  font-size: 1.6rem;
}

.fa-dong-sign {
  font-size: 1rem;
}

.voucher-info__min {
  padding-top: 4px;
  font-size: 1.4rem;
}

.voucher-info__product-certain {
  width: 124px;
  margin-top: 4px;
  font-size: 1.2rem;
  padding: 2px 4px;
  border: 1px solid #D0011B;
  border-radius: 4px;
}

.voucher-info__bar-use {
  margin-top: 4px;
  width: var(--with-240);
  height: 4px;
  background-color: #00000017;
  border-radius: 6px;
}

.bar__use {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 46%;
  height: 4px;
  background: linear-gradient(270deg, rgb(255, 176, 0) 0%, rgb(235, 23, 23) 100%);
}

.voucher-info__expiry {
  display: flex;
  font-size: 1rem;
}

.expiry__use {
  color: #FF424F;
}

.expiry-expiry {
  color: #0000008A;
  padding-left: 4px;
}

.voucher-list__use-now {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  position: relative;
}

.voucher-list__use-now::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 95%;
  width: 1px;
  height: 100%;
  background: repeating-linear-gradient(#ccc, #ccc 0.1rem, transparent 0, transparent 0.25rem);
  background: repeating-linear-gradient(#ccc, #ccc 0.1rem, transparent 0 0.25rem);
  background-size: 1px 0.25rem;
  background-repeat: repeat-y;
}

.use__now {
  border: 1px solid #D0011B;
  border-radius: 4px;
  padding: 4px;
  font-weight: 450;
  display: none;
  cursor: pointer;
}

.use__save {
  border: 1px solid #D0011B;
  border-radius: 4px;
  padding: 6px 18px;
  font-weight: 450;
  font-size: 1.4rem;
  color: #e7e7e7;
  background-color: #D0011B;
  cursor: pointer;
}

.shop__pega__suggest {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
}

.shop__pega__suggest-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.shop__pega__suggest-heading-title {
  color: #0000008A;
}

.shop__pega__suggest-see {
  font-size: 1.2rem;
  text-decoration: none;
  color: #D0011B;
}

.shop__pega__suggest-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop__pega__suggest-list {
  display: flex;
  flex-direction: column;
  width: 192px;
  height: 100%;
  background-color: var(--while-color);
  box-shadow: 0 0 3px #ccc;
  border-radius: 4px;
}

.suggest-list__product {
  height: 192px;
  position: relative;
}

.suggest-list__img {
  height: 192px;
  padding: 20px;
}

.suggest-list__how-sales {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6d30d;
  height: 32px;
  width: 40px;
  top: 0;
  right: 0;
}

.suggest__sale__how {
  color: #D0011B;
  font-size: 1.4rem;
  padding-left: 4px;
}

.suggest-list__how-sales::after {
  content: '';
  display: block;
  width: 20.8px;
  position: absolute;
  bottom: -10px;
  border-width: 7px 10px;
  border-style: solid;
  border-color: #d6d30d #d6d30d transparent #d6d30d;

}

.suggest__sale__text {
  color: #e7e2e2;
  font-size: 1.5rem;

}

.suggest-list__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.suggest-list__title {
  font-size: 1.2rem;
  height: 48px;
}

.suggest-list__price {
  display: flex;
  font-size: 1.6rem;
}

.suggest-list__price-original {
  color: #0000008A;
  position: relative;
  padding-left: 6px;
  font-size: 1.4rem;
}

.suggest-list__price-original::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #0000008A;
  position: absolute;
  top: 50%;
  right: 0px;

}

.suggest-list__price-original .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: -2px;
  font-size: .9rem;
}

.suggest-list__price-sale {
  color: var(--mauchinh);
  padding-left: 12px;
  position: relative;

}

.suggest-list__price-sale .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: .9rem;
}

.suggest-list__sell {
  margin-top: 20px;
  display: flex;
  font-size: 1.2rem;
}

.suggest-list__sell-sold-sales {
  padding-left: 8px;
  font-weight: 400;
}

.shop__pega__introduct {
  margin-top: 20px;
}

.shop__pega__introduct-img {
  width: 100%;
}

.product__class {
  position: relative;
}

.product__class-iphone {
  position: absolute;
  height: 490px;
  width: 428px;
  top: 100px;
  left: 80px;
}

.product__class-mac {
  position: absolute;
  height: 500px;
  width: 480px;
  top: 100px;
  right: 80px;
}

.product__class-ipad {
  position: absolute;
  height: 320px;
  width: 250px;
  bottom: 70px;
  left: 85px;
}

.product__class-watch {
  position: absolute;
  height: 320px;
  width: 280px;
  bottom: 70px;
  left: 450px;
}

.product__class-airpods {
  position: absolute;
  height: 320px;
  width: 280px;
  bottom: 70px;
  right: 85px;
}

.shop__pega__introduct img {
  vertical-align: top;
}


.titan {
  padding: 20px 0;
}


.shop__pega__selling {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
}

.shop__pega__selling-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.shop__pega__selling-heading-title {
  color: #0000008A;
}


.shop__pega__selling-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop__pega__selling-list {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 418px;
  background-color: var(--while-color);
  box-shadow: 0 0 3px #ccc;
  border-radius: 4px;
}

.selling-list__product {
  height: 292px;
  position: relative;
}

.selling-list__img {
  height: 100%;
  padding: 20px;
}

.selling-list__how-sales {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6d30d;
  height: 32px;
  width: 40px;
  top: 0;
  right: 0;
}

.selling__sale__how {
  color: #D0011B;
  font-size: 1.4rem;
  padding-left: 4px;
}

.selling-list__how-sales::after {
  content: '';
  display: block;
  width: 20.8px;
  position: absolute;
  bottom: -10px;
  border-width: 7px 10px;
  border-style: solid;
  border-color: #d6d30d #d6d30d transparent #d6d30d;

}

.selling__sale__text {
  color: #e7e2e2;
  font-size: 1.5rem;

}

.selling-list__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.selling-list__title {
  font-size: 1.4rem;
  height: 48px;
}

.selling-list__price {
  display: flex;
  font-size: 1.6rem;
}

.selling-list__price-original {
  color: #0000008A;
  position: relative;
  padding-left: 6px;
  font-size: 1.4rem;
}

.selling-list__price-original::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #0000008A;
  position: absolute;
  top: 50%;
  right: 0px;

}

.selling-list__price-original .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: -2px;
  font-size: .9rem;
}

.selling-list__price-sale {
  color: var(--mauchinh);
  padding-left: 12px;
  position: relative;

}

.selling-list__price-sale .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: .9rem;
}

.selling-list__sell {
  margin-top: 20px;
  display: flex;
  font-size: 1.2rem;
}

.selling-list__sell-sold-sales {
  padding-left: 8px;
  font-weight: 400;
}

.shop__pega__shop-pruduct {
  display: flex;
  margin-top: 40px;
}

.shop-product__category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.shop-product__category-title .fa-list {
  padding-right: 8px;
}

.shop-product__category-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}

.shop-product__category-title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 95%;
  border: 1px solid #00000017;
}

.shop__product-category-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
}

.shop__product-category__item {
  list-style: none;
}

.shop__product-category__item a {
  text-decoration: none;
  padding-left: 12px;
  color: #000;
  font-size: 1.4rem;

}

.shop__product-category__item .fa-caret-right {
  font-size: 1.4rem;
  padding-right: 2px;
}

.shop__product__list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.shop__product__list-search {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #00000008;
  line-height: 60px;
  align-items: center;
}

.shop__product__list-search__title {
  font-size: 1.4rem;
  color: #0000008A;
  padding-left: 16px;
}

.shop__product__list-search__item {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  height: 34px;
  width: 76px;
  line-height: 34px;
  background-color: var(--while-color);
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
}



.shop__product__list-search__price {
  position: relative;
  margin-left: 16px;
  cursor: pointer;
  height: 34px;
  width: 200px;
  line-height: 34px;
  background-color: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  color: var(--text-color);
  border-radius: 4px;
}

.hover__shop__product__list-search__price {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 4px;
  bottom: -296%;
  left: 0;
  display: none;
}

.arrange:hover {
  color: var(--mauchinh);
}

.shop__product__list-search__price:hover .hover__shop__product__list-search__price {
  display: flex;
}

.arrange {
  height: 50%;
  padding-left: 12px;
  line-height: 50px;
}

.shop__product__list-item {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}


/* sanphamban */
.shop__pega__product__all-list {
  display: flex;
  flex-direction: column;
  width: 196px;
  height: 312px;
  background-color: var(--while-color);
  box-shadow: 0 0 3px #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-left: 4px;
  margin-right: 4px;
}

.product__all-list__product {
  height: 192px;
  position: relative;
}

.product__all-list__img {
  height: 192px;
  padding: 20px;
}

.product__all-list__how-sales {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6d30d;
  height: 32px;
  width: 40px;
  top: 0;
  right: 0;
}

.product__all__sale__how {
  color: #D0011B;
  font-size: 1.4rem;
  padding-left: 4px;
}

.product__all-list__how-sales::after {
  content: '';
  display: block;
  width: 20.8px;
  position: absolute;
  bottom: -10px;
  border-width: 7px 10px;
  border-style: solid;
  border-color: #d6d30d #d6d30d transparent #d6d30d;

}

.product__all__sale__text {
  color: #e7e2e2;
  font-size: 1.5rem;

}

.product__all-list__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product__all-list__title {
  font-size: 1.2rem;
  height: 48px;
}

.product__all-list__price {
  display: flex;
  font-size: 1.6rem;
}

.product__all-list__price-original {
  color: #0000008A;
  position: relative;

  font-size: 1.4rem;
}

.product__all-list__price-original::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #0000008A;
  position: absolute;
  top: 50%;
  right: 0px;

}

.product__all-list__price-original .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: -2px;
  font-size: .9rem;
}

.product__all-list__price-sale {
  color: var(--mauchinh);
  padding-left: 6px;
  position: relative;

}

.product__all-list__price-sale .fa-dong-sign {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: .9rem;
}

.product__all-list__sell {
  margin-top: 20px;
  display: flex;
  font-size: 1.2rem;
}

.product__all-list__sell-sold-sales {
  padding-left: 8px;
  font-weight: 400;
}

/* css footer */

.footer {
  display: flex;
  flex-direction: column;
}

.footer__commit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 3px 160px 120px 160px;
  position: relative;
}

.footer__commit::before {
  position: absolute;
  content: '';
  display: block;
  width: 126.4%;
  border: 3px solid #D0011B;
  top: -5px;
  left: -13.5%;
}

.footer__commit::after {
  position: absolute;
  content: '';
  display: block;
  width: 122%;
  border: 1px solid #00000008;
  bottom: 0;
  left: -11.5%;
}

.footer__commit__returns .fa-solid {
  font-size: 3.5rem;
  color: #D0011B;
}

.commit__returns__text {
  padding-left: 20px;
  list-style: none;
  font-size: 1.4rem;
  color: #0000008a;
}

.color {
  background-color: #00000008;
}

.footer__introduct {
  margin-left: 160px;
  margin-right: 160px;
  height: 430px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* background-color: #00000008; */
}

.footer__introduct::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #13121236;
  bottom: -2px;
}

.footer__introduct-list {
  margin-top: 40px;
}

.footer__introduct-list__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer__introduct-list-item {
  list-style: none;
  margin-top: 20px;
  line-height: 1.5rem;
}

.footer__introduct-list-item li {
  padding-bottom: 16px;
  font-size: 1.2rem;
  color: #0000008A;
}

.footer__introduct-list-item li:hover {
  color: var(--mauchinh);
}

.footer__introduct-list-item {
  display: flex;
  flex-direction: column;
}

.footer__introduct-list-item a {
  text-decoration: none;
  color: #0000008A;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.footer__down__app {
  display: flex;
  cursor: pointer;
}

.footer__down__app-system {
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: space-between;
}

.footer__down__app-qr img {
  height: 88px;
}

.footer__down__app-system img {
  margin-left: 8px;
  height: 26px;
  padding: 4px;
  background-color: var(--while-color);
  box-shadow: 0 0 1px #0000008A;
  border-radius: 4px;
}

.footer__introduct-list__pay,
.footer__introduct-list__transport {
  margin-left: 35px;
}

.footer__introduct-list__pay-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.footer__introduct-list__pay-item li img {
  height: 26px;
  padding: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: var(--while-color);
  line-height: 22px;
  display: flex;
  justify-content: center;
  /* căn giữa theo chiều ngang */
  align-items: center;
  /* căn giữa theo chiều dọc */
  text-align: center;
  cursor: pointer;

}

.footer__introduct-list-item a:hover {
  color: var(--mauchinh);
  cursor: pointer;
}

.footer__info {
  display: flex;
  flex-direction: column;
  height: 230px;

}

.footer__info__policy {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer__info__policy ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer__info__policy ul a {
  color: #0000008A;
  text-decoration: none;
  padding: 0 20px;
}

.footer__info__industry-trade {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer__info__industry-trade::after {
  content: 'Công ty TNHH Cow Tech';
  display: block;
  position: absolute;
  bottom: -20px;
  color: #0000008A;
}

.footer__info__industry-trade img {
  height: 50px;
}

.footer__info__end {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

.footer__info__end-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  color: #0000008A;
}


.container {
  /* display: none; */
  max-width: 2400px;
}

.product-tab__title {
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 6px;
}

.product-tab {
  display: flex;
}

.product-tab__title h5 {
  font-size: 1.4rem;
  margin-left: 8px;
  color: #0000008A;
  margin-top: 3px;
}

.product-tab__product {
  display: flex;
  position: relative;
}

.product-tab__product::before {
  content: '';
  position: absolute;
  width: 100%;
  border: 1.8px solid #e4e4e4;
  top: -12px;
  border-radius: 12px;
}

.product__img-list {
  display: flex;
  flex-direction: column;
}

.product__img-main {
  height: 400px;
  width: 720px;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img-secondary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.product__img-secondary li img {
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border: 1px solid #dbd9d9;
  border-radius: 12px;
}

.product__img__info {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  width: 400px;
}

.product__img__info h2 {
  color: #444444;
}

.product__img__info li {
  margin-top: 12px;
  font-size: 1.2rem;
  list-style: none;
  color: #4a4a4a;
}

.product__img__info li .fa-solid {
  font-size: 1.4rem;
  margin-right: 4px;
}

.product-tab__info {
  flex: 1;
  margin-left: 16px;
}

.shop-have-product {
  margin-left: 16px;
}

.shop__address__city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 22px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  border-radius: 8px;
}

.shop__address__district {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 22px;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  border-radius: 8px;
}

.shop__address-have-product {
  font-size: 1.2rem;
  margin: 16px 0;
}

.shop__address-have-product h3 {
  margin: 0 4px;
}

.shop__address__list {
  border: 1px solid #ccc;
  border-radius: 12px;
}

.shop__address__item-address a {
  height: 20px;
  text-decoration: none;
  margin-left: 4px;
  color: black;
  font-size: 1.1rem;
  color: #3a78d0;
}

.shop__address__item {
  margin-bottom: 4px;
}

.shop__address__item-phone-number {
  margin-left: 8px;
  color: crimson;
}




.product-tab__info__capacity-options {
  flex-wrap: wrap;
}

.product-tab__info__capacity-item {
  width: 140px;
  height: 54px;
  text-decoration: none;
  color: #444444;
  border: 1px solid #ccc;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 12px;
  margin-bottom: 12px;
}

.product-tab__info__capacity-item:hover {
  background-color: #adadad8a;
}

#tab-price {
  margin-top: 6px;
  font-size: 1.3rem;
  font-weight: 400;
}

#titleh2 {
  margin-top: 6px;
  margin-bottom: 12px;
  color: #444444;
  font-size: 1.4rem;
}

.product-tab__info__color-options {
  flex-wrap: wrap;
}

.product-tab__info__color-options-item {
  width: 140px;
  height: 44px;
  text-decoration: none;
  color: #444444;
  border: 1px solid #ccc;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.product-tab__info__color-options__img {
  height: 25px;
}

#color-product-tab {
  font-weight: 600;
}

.product-tab__info__color-options__color {
  justify-content: center;
  margin-left: 16px;
}

.product-tab__info__price {
  height: 80px;
  width: 100%;
  background-color: #eae8e8;
  border-radius: 12px;
  margin-bottom: 12px;
}

.product-tab__info__price {
  align-items: center;
  justify-content: space-around;
}

.product-tab__info__price__trade-option {
  margin-left: 4px;
}

#price-trade {
  font-weight: bolder;
  font-size: 1.7rem;
  color: #444444;
  margin-bottom: 4px;
}

.product-tab__info__price__buy {
  position: relative;
  background-color: #fff;
  width: 230px;
  height: 64px;
  border: 1px solid var(--mauchinh);
  border-radius: 12px;
  box-shadow: 0 0 3px var(--mauchinh);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.product-tab__info__price__buy::after {
  content: '';
  position: absolute;
  border-width: 15px 10px;
  border-style: solid;
  border-color: var(--mauchinh) transparent transparent transparent;
  bottom: -48%;
}

#price-sale-tab {
  font-size: 1.7rem;
  font-weight: bolder;
  color: var(--mauchinh);
}

#price-new-tab {
  margin-top: 4px;
  text-decoration: line-through;
}

.product-tab__info__buy {
  height: 80px;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.product-tab__info__buy-now {
  height: 64px;
  width: 80%;
  background-color: var(--mauchinh);
  border-radius: 12px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bolder;
}

.product-tab__info__buy-now h5 {
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: 300;
}

.product-tab__info__add-cart {
  flex: 1;
  margin-left: 12px;
  height: 64px;
  color: var(--mauchinh);
  border: 2px solid var(--mauchinh);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.product-tab__info__add-cart .fa-cart-plus {
  font-size: 2.2rem;
  margin-bottom: 4px;
}

.product-tab__info__pay-options {
  justify-content: space-between;
}

.product-tab__info__pay {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 48%;
  background: linear-gradient(180deg, #3a78d0, #277cea);
  border-radius: 12px;
  color: var(--while-color);
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.product-tab__info__pay h4 {
  margin-top: 4px;
}

.timhieuthem {
  height: 34px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #EC8104;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 800;
}

.product-tab__info__extra-sale {
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.product-tab__info__extra-sale h2 {
  background-color: #D1d5db;
  height: 40px;
  padding-left: 20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  align-items: center;
}

.sale-extra__program-details .fa-circle-check {
  margin: 0 4px;
}

.sale-extra__program-details li {
  margin: 12px 0;
  font-size: 12px;
}

.sale-extra__program-details img {
  margin-right: 4px;
}

.before-p::before {
  content: '';
  display: block;
  position: absolute;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  height: 20px;
  top: -19px;
  right: 13px;
  z-index: 2;
}

.admin {
  display: none;

}

.admin-hover:hover .admin {
  display: block !important;
}

.admin-hover::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 80px;
  bottom: -15px;
}

.select_product {
  position: relative;
}

.core {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
  background: #e33f3f;

}