.container{
    /* display: none; */
}

.product-tab__title{
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 6px;
}

.product-tab{
    display: flex;
}

.product-tab__title h5{
    font-size: 1.4rem;
    margin-left: 8px;
    color: #0000008A;
    margin-top: 3px;
}

.product-tab__product{
    display: flex;
    position: relative;
} 

.product-tab__product::before{
    content: '';
    position: absolute;
    width: 100%;
    border: 1.8px solid #e4e4e4;
    top: -12px;
    border-radius: 12px;
}

.product__img-list{
    display: flex;
    flex-direction: column;
}

.product__img-main{
    height: 400px;
    width: 720px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__img-secondary ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.product__img-secondary li img{
    margin-top: 12px;
    height: 50px;
    width: 50px;
    border: 1px solid #dbd9d9;
    border-radius: 12px;
}

.product__img__info{
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    width: 400px;
}

.product__img__info h2{
    color: #444444;
}

.product__img__info li {
    margin-top: 12px;
    font-size: 1.2rem;
    list-style: none;
    color: #4a4a4a;
}

.product__img__info li .fa-solid {
    font-size: 1.4rem;
    margin-right: 4px;
}

.product-tab__info{
    flex: 1;
   margin-left: 16px;
}

.shop-have-product{
    margin-left: 16px;
}

.shop__address__city{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 22px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    border-radius: 8px;
}

.shop__address__district{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 22px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    border-radius: 8px;
}

.shop__address-have-product{
    font-size: 1.2rem;
    margin: 16px 0;
}

.shop__address-have-product h3{
    margin: 0 4px;
}

.shop__address__list{
    border: 1px solid #ccc;
    border-radius: 12px;
}

.shop__address__item-address a{
    height: 20px;
    text-decoration: none;
    margin-left: 4px;
    color: black;
    font-size: 1.1rem;
    color: #3a78d0;
}

.shop__address__item{
    margin-bottom: 4px;
}

.shop__address__item-phone-number{
    margin-left: 8px;
    color: crimson;
}




.product-tab__info__capacity-options{
    flex-wrap: wrap;
}

.product-tab__info__capacity-item {
    width: 140px;
    height: 54px;
    text-decoration: none;
    color: #444444;
    border: 1px solid #ccc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 12px;
    margin-bottom: 12px;
}

.product-tab__info__capacity-item:hover{
    background-color: #f7f4f48a;
}

#tab-price{
    margin-top: 6px;
    font-size: 1.3rem;
    font-weight: 400;
}

#titleh2{
    margin-top: 6px;
    margin-bottom: 12px;
    color: #444444;
    font-size: 1.4rem;
}

.product-tab__info__color-options{
    flex-wrap: wrap;
}

.product-tab__info__color-options-item{
    width: 140px;
    height: 44px;
    text-decoration: none;
    color: #444444;
    border: 1px solid #ccc;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.product-tab__info__color-options__img{
    height: 25px;
}

#color-product-tab{
    font-weight: 600;
}

.product-tab__info__color-options__color{
    justify-content: center;
    margin-left: 16px;
}

.product-tab__info__price{
    height: 80px;
    width: 100%;
    background-color: #eae8e8;
    border-radius: 12px;
    margin-bottom: 12px;
}

.product-tab__info__price{
    align-items: center;
    justify-content: space-around;
}

.product-tab__info__price__trade-option{
    margin-left: 4px;
}

#price-trade{
    font-weight:bolder;
    font-size: 1.7rem;
    color: #444444;
    margin-bottom: 4px;
}

.product-tab__info__price__buy{
    position: relative;
    background-color: #fff;
    width: 230px;
    height: 64px;
    border: 1px solid var(--mauchinh);
    border-radius: 12px;
    box-shadow: 0 0 3px var(--mauchinh);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.product-tab__info__price__buy::after{
    content: '';
    position: absolute;
    border-width: 15px 10px;
    border-style:solid;
    border-color: var(--mauchinh) transparent transparent transparent;
    bottom: -48%;
}

#price-sale-tab{
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--mauchinh);
}

#price-new-tab{
    margin-top: 4px;
    text-decoration: line-through;
}

.product-tab__info__buy{
    height: 80px;
    width: 100%;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}

.product-tab__info__buy-now{
    height: 64px;
    width: 80%;
    background-color: var(--mauchinh);
    border-radius: 12px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

.product-tab__info__buy-now h5{
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 300;
}

.product-tab__info__add-cart{
    flex: 1;
    margin-left: 12px;
    height: 64px;
    color: var(--mauchinh);
    border: 2px solid var(--mauchinh);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.product-tab__info__add-cart .fa-cart-plus{
    font-size: 2.2rem;
    margin-bottom: 4px;
}

.product-tab__info__pay-options{
    justify-content: space-between;
}

.product-tab__info__pay{
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 48%;
    background: linear-gradient(180deg,#3a78d0,#277cea);
    border-radius: 12px;
    color: var(--while-color);
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.product-tab__info__pay h4 {
    margin-top: 4px;
}

.timhieuthem{
    height: 34px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #EC8104;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 800;
}

.product-tab__info__extra-sale{
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.product-tab__info__extra-sale h2 {
    background-color: #D1d5db;
    height: 40px;
    padding-left: 20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    align-items: center;
}

.sale-extra__program-details .fa-circle-check{
    margin: 0 4px;
}

.sale-extra__program-details li {
    margin: 12px 0;
    font-size: 12px;
}

.sale-extra__program-details img {
    margin-right: 4px;
}